---
layout: default
prism: true
---

<div class="container mt-6 px-6">
  <div class="pb-5 mb-5 border-b border-gray-100">
    <h1 class="font-bold text-5xl">{{title}}</h1>
    <p class="text-center text-base leading-6 font-medium text-gray-500">
      <time>
        {{ date | readableDate }} by
        <a>{{ author }}</a>
      </time>
    </p>
  </div>

  <div>
    <image src="{{thumbnail}}" alt="{{title}}" />
  </div>
  
  <article class="prose prose-invert lg:prose-xl my-4 mx-auto">{{ content | safe }}</article>

  <section>
    {% if tags %}
    <ul class="pt-6 lg:pt-0 list-reset lg:flex justify-end flex-1 items-center">
      {% for tag in tags %}
      <li class="nav__item mr-3">
        <strong>{{ tag }}</strong>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </section>
</div>
